.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
 
  }


  
  .header {
    margin-top: 15%;
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
    font-size: 3rem;
    font-weight: bolder;
  }
  
  .mainContent {
    line-height: 1.6;
    color: #fff;
  }
  
  .section {
    margin-bottom: 20px;
    color: #fff;
  }

  .textt {
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
    margin-bottom: 10px;
    color: #fff;
  }
  
  .section h2 {
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
    margin-bottom: 10px;
    color: #fff;
  }

  .bg {
    background: url('/pattern.png') center center no-repeat,  
              linear-gradient(135deg, rgba(45, 45, 58, 0.9) 0%, rgba(26, 26, 34, 0.8) 100%);
    background-size: cover;
    background-blend-mode: hard-light;
    background-attachment: fixed;
    transition: all 0.3s ease-in-out;
  }
  

  