

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(50px);
    z-index: 1000;
  }
  
  .modalContent {
    color: #fff;
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.2); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(20px); 
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    position: relative;
  }
  
  .statsContainer {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
  }
  
  .statsBox {
    background: #f0f0f0;
    border-radius: 8px;
    padding: 10px 20px;
    width: 45%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .statsBox p {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
  }
  
  .buttonContainer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .confirmButton, .cancelButton {
    background: #0070f3;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .confirmButton {
    background: #fd2d2d;
  }
  
  .cancelButton {
    background: #eaeaea;
    color: #333;
  }
  
  .confirmButton:hover, .cancelButton:hover {
    background: rgba(219, 0, 0, 0.8); 
  }

  .cancelButton:hover {
    background: rgba(166, 166, 166, 0.8); 
  }

  
  .confirmButton:active, .cancelButton:active {
    transform: scale(0.95); 
  }
  