.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
color:rgb(255, 255, 255);
  background: #000;
  padding: 24px;
  border-radius: 8px;
  width: 90%;
  max-width: 650px;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  backdrop-filter: blur(90px); /* Applies the blur effect */
  border: 1px solid rgba(255, 255, 255, 0.2); /* Optional: subtle border to enhance the glass effect */
}


.closeButton {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 24px;
  border: none;
  background: transparent;
  cursor: pointer;
  color: #ffffff;
  transition: color 0.3s ease;
}

.closeButton:hover {
  color: #d32f2f;
}

.inputWrapper {
  position: relative;
  margin: 16px 0;
  width: 100%;
  color:#fff
}

.inputField {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
  background: rgba(0, 0, 0, 0.3); 
  color:#fff
}

.inputField:focus {
  border-color: #ae00d5;
}

.inputLabel {
  position: absolute;
  top: 12px;
  left: 12px;
  font-size: 16px;
  color: #ffffff;
  transition: 0.2s ease all;
  pointer-events: none;
}

.inputField:focus + .inputLabel,
.inputField:not(:placeholder-shown) + .inputLabel {
  top: -8px;
  left: 12px;
  font-size: 12px;
  color: #ae00d5;
  background: #000;
  padding: 0 4px;
 
}

.buttonContainer {
  margin-top: auto; /* Pushes the button to the bottom of the modal */
  width: 100%;
  display: flex;
  justify-content: center;
}

.submitButton {
  padding: 12px 24px;
  border-radius: 24px;
  cursor: pointer;
  border: 0;
  background-color: #ae00d5;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 14px;
  transition: all 0.3s ease;
  color: #fff;
  margin-top: 2%;
}

.submitButton:hover {
  background-color: #ba33d8;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.submitButton:active {
  background-color: #ba33d8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  transform: translateY(2px);
}

.pp {
  color:rgb(175, 175, 175);
  line-height: 1.6;
}

.code {
  font-family: 'Courier New', monospace;
  background: #f5f5f5;
  padding: 4px 8px;
  border-radius: 4px;
  color: #333;
}