@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Teko:wght@300..700&display=swap');

.navbar {
    margin-top: 30px;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 25px;
    position: fixed;
    width: 90%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    z-index: 999;
    transition: background 0.3s ease;
}

.navbarContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

.logoImage {
    align-self: center;
    max-width: 100%;
    height: auto;
}
.logoText {
    font-family: 'Teko';
    font-size: 1.8rem;
    font-weight: 700;
    color: #301550; 
  }


.logoText:hover {
    color: #7300ff;
}

.menu {
    align-items: center;
    display: flex;
    gap: 3rem;
    text-align: center;
}

.menu a {
    font-family: 'Poppins', sans-serif;
    color: #8000ff;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bolder;
    transition: color 0.3s ease;
}

.menu a:hover {
    color: #280051;
}

.menuButton {
    display: none;
}

@media (max-width: 768px) {
    .logoImage {
        max-width: 120px;
    }
    .menu a {
        color: #000000;
    }
    .menu {
        display: none;
        flex-direction: column;
        gap: 1rem;
        position: absolute;
        top: 60px;
        left: 0;
        color: #000000;
        font-family: 'Poppins', sans-serif;
        font-size: 1rem;
        width: 100%;
        background: rgba(255, 255, 255, 0.9);
        backdrop-filter: blur(5px);
        border-radius: 15px;
        padding: 1rem;
    }

    .menu.open {
        display: flex;
    }

    .menuButton {
        display: block;
        background-color: #ffffff;
        color: #000000;
        border: none;
        padding: 0.5rem 1rem;
        cursor: pointer;
        border-radius: 15px;
        position: absolute;
        top: 15px;
        right: 15px;
        z-index: 1001;
    }
}
