/* Fullscreen container */
.fullscreenContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  position: relative;
}


.typingContainer {
  width: 80%;
  max-width: 900px;
  padding: 20px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  backdrop-filter: blur(3px); 
  border: 1px solid rgba(255, 255, 255, 0.2); 
}

/* Heading */
.heading {
  font-size: 2.5rem;
  font-weight: bold;
  color: #00e5ff; /* Neon cyan color */
  margin-bottom: 20px;
  text-shadow: 0 0 8px rgba(0, 229, 255, 0.8); /* Glowing effect */
}

/* Timer */
.timer {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ff4081;
  background: rgba(255, 255, 255, 0.1);
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-shadow: 0 0 6px rgba(255, 64, 129, 0.6);
}

/* Story */
.storyDisplay {
  white-space: pre-wrap;
  margin-bottom: 20px;
  text-align: left;
  font-size: 1rem;
  line-height: 1.5;
  color: #e0e0e0;
}

/* Input field */
.inputField {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #333;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background: #1e1e1e; 
  color: #e0e0e0; 
}


.stats {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}


.statBox {
  background: rgba(0, 0, 0, 0.3);
  flex: 1;
  padding: 15px;
  backdrop-filter: blur(1px); 
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  margin: 0 10px;
  color: #e0e0e0;
}


.statTitle {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 5px;
  color: #ff4081; /* Neon pink color */
}

/* Stat value */
.statValue {
  font-size: 1.5rem;
  font-weight: bold;
  color: #00e5ff; /* Neon cyan color */
}

/* Exit button */
.exitButton {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0.6em 1em;
  border: 4px solid #ff0000;
  transition: ease-in-out 0.3s;
  background-color: transparent;
  color: #ff0000;
  font-weight: bolder;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  text-shadow: 0 0 6px rgba(255, 62, 62, 0.308); /* Glowing effect */
}

.exitButton:hover {
  transform: scale(1.2) rotate(10deg);
  background-color: #ff0000;
  color: white;
}

/* Start button */
.startButton {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  color: #000; /* Dark text color */
  background: #00e5ff; /* Neon cyan background */
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
  text-shadow: 0 0 6px rgba(0, 229, 255, 0.6); /* Glowing effect */
}

.startButton:hover {
  background: #00bcd4; /* Darker neon cyan */
  transform: scale(1.05);
}
